[submodule "shifty"]
	path = shifty
	url = git://github.com/masterkorp/awesome-shifty.git
[submodule "menubar"]
	path = menubar
	url = https://github.com/alexander-yakushev/menubar.git
[submodule "lain"]
	path = lain
	url = https://github.com/CKnappe/lain.git
[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "autostart"]
	path = autostart
	url = https://github.com/CKnappe/awesome-autostart.git
[submodule "radical"]
	path = radical
	url = https://github.com/Elv13/radical.git
